// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 3rem;
$font-xlg: 5rem;

$Light-red-CTA-text: hsl(356, 100%, 66%);
$Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
$Very-dark-blue-headings: hsl(208, 49%, 24%);

// ### Neutral

$White-text: hsl(0, 0%, 100%);
$Grayish-blue-footer-text: hsl(240, 2%, 79%);
$Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
$Ver-dark-black-blue-foote-background: hsl(240, 10%, 16%);

// ### Gradien

// Background gradient - Intro/CTA mobile nav:

$Very-light-red: hsl(13, 100%, 72%);
$Light-red: hsl(353, 100%, 62%);

// Background gradient - body:

$Very-dark-gray-blue: hsl(237, 17%, 21%);
$Very-dark-desaturated-blue: hsl(237, 23%, 32%);
